<%- include('../components/head') -%>
<link rel="stylesheet" href="/css/login.css" />
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="/img/cl192.png" height="30" width="30" id="icon" alt="User Icon" /> -->
      <h1 class="text-center"><%= title %></h1>
      <p class="text-center text-danger"><%= message %></p>
    </div>

    <!-- Login Form -->
    <form method="post" action="/auth">
      <input
        type="text"
        required
        id="login"
        class="fadeIn second"
        name="unameoremail"
        placeholder="Username or Email"
      />
      <input
        type="password"
        required
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <span class="underlineHover"><%= appname %> </span>
    </div>
  </div>
</div>

<%- include('../components/foot') -%>
